@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;
    @top-left {
        content: string(chapter);
    }
    @bottom-center {
        content: '@2023 Indoguna Utama';
    }
    @top-right {
        content: 'Page ' counter(page);
    }
}